body{
	color:white;
	background:#101010;
}
article{
	background: #333;
	padding: 1em;
}
article:after,
#pis:after{
	content:'';
	display:block;
	height: 0;
	width: 100%;
	clear:both;
}
h1,h2,h3{
	text-align:center;
}
#pis>#image{
	float:right;
	color:black;	
	position:relative;
	width: 640px;
	height: 400px;	
	background: url('2.jpg') no-repeat ;
	border:1px solid black;
}
.newdiv{
	position:absolute;
	border-bottom:1px solid black;
	border-right:1px solid black;
	width: 79px;
	height: 79px;
	background: gray;
}
#timer{
	position:absolute;
	top:1em;
	left:2em;
	padding: .3em;
	display:inline-block;
	text-align: center;
	padding: .3em;
	background:#669999;
	width: 200px;
	color:white;
	border-radius:5px;
	box-shadow: 0 1px 2px rgba(0,0,0,.7);
}
#pis{
	overflow: hidden;
	box-sizing: border-box;
	padding: 2em;
	background:linear-gradient(90deg,#666699 40%,#669999 40%,#669999) ;
	position: relative;
	width: 97%;
	min-width: 1100px;
	margin:1em auto;
	border:1px solid gray;	
}
#collection{
	position:relative;
	border:1px solid red;
	width: 450px;
	height: 400px;
}
.litle{
	width: 80px;
	height: 80px;
	border:1px solid black;
	overflow: hidden;
	position:absolute;
	margin-top:-5px;
}
.litle:hover{
	cursor: pointer;
}
.litle>img{
	position:absolute;
}
.backgrRed{
	background: red;
}
.displayNone{
	display:none;
	border:none;
}
#drag{
	cursor:pointer;
	width: 100px;
	height: 100px;
	overflow: hidden;
	position:relative;
}
#drag>img{
	position:absolute;
	top:-175px;
	left:-50px;
}
#info{
	position:absolute;
	background: black;
	top:0;
	left:600px;
	padding: 1em;
}
#pis .privey{
	text-align: center;
	padding: .3em;
	top:1em;
	background:rgba(100,100,200,.7);
	right:2em;
	width: 200px;
	position:absolute;
	background-size: cover;
	color:white;
	border-radius:5px;
	box-shadow: 0 1px 2px rgba(0,0,0,.7);
}
#pis .privey:hover{
	background: url('2.jpg') no-repeat center;
	height: 150px;
	background-size: contain;
	z-index:100;
	cursor:pointer;
	color:transparent;
}
#target{
	width: 80px;
	height: 80px;
	overflow: hidden;
	position:absolute;
	bottom:0px;
	left:80px;
	z-index: 10;
}
#target img{
	position:absolute;
	top:-300px;
	left:-300px;
}
#cel{
	width: 80px;
	height: 80px;
	border: 1px solid red;
	position:absolute;
	bottom:0px;
	right: 80px;
}
#cel:hover{
	background: lightgreen;
}